
.btn {
 margin:20px;
 border-radius: 10px;
}

.play,
.pause {
width: 50px;
height: 50px;
display: inline-block;
}
.play {
background: transparent url('https://cdn4.iconfinder.com/data/icons/social-messaging-productivity-1/128/play-icon-2-128.png') no-repeat;
background-size: cover;
}
.pause {
background: transparent url('https://cdn1.iconfinder.com/data/icons/material-audio-video/20/pause-circle-outline-128.png') no-repeat;
background-size: cover;
display: none;
}
/* video::-webkit-media-controls-panel {


} */

/* Could Use thise as well for Individual Controls */
audio::-webkit-media-controls-volume-slider {
display: none;
}

audio::-webkit-media-controls-mute-button {
display: none;
}

/* audio::-webkit-media-controls-timeline {
display: none;
} */

audio::-webkit-media-controls-current-time-display {
display: none;
}
.jumbotron{
    margin-top: 30px;
    text-align: center;
    background-image: url('https://picsum.photos/500/500?blur');
}
.containercustom{
    background-color: blanchedalmond;
height:900px;
overflow: scroll;
}
.rotate {
    animation: rotation 8s infinite linear;
    border-radius:50%;
    margin-bottom: 10px;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @media only screen and (min-width: 601px){
    /*Tablets [601px -> 1200px]*/
    .containercustom{
        width:500px;
        margin: 0 auto;
       
        
    }
    
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .containercustom{
        width:100%;
        margin: 0 auto;
    }
    
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .containercustom{
        width:100%;
        margin: 0 auto;
    }
    
   
}
